// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$finn: #5D2750;
$sea-buckthorn: #F9A824;
$flamingo: #ED4235;
$sushi: #7CC144;
$ocean-green: #3D9970;
$ease-gradient: rgb(83, 194, 213) , rgb(167, 224, 230), rgb(167, 224, 230), rgb(242, 216, 181), rgb(245, 165, 36);
$food-gradient: #844b77, #fb6459, #feba4c, #8acd53, #55ae86;
$groceries-gradient: #3C8B42, #A7C0D3, #EBEBEB, #BFB93B, #F7A540;
$candy-color: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
