// Specific CSS for your home-page
.landing-page-container {
  background: $green-edges;
}

.container-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

.home-page {
  background-image: url("https://images.pexels.com/photos/319798/pexels-photo-319798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 8px;
}

.home-text {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 5px white;
  padding: 8px;
  align-items: center;
}

.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-frame-header {
  background-color: $kale-green;
  padding: 16px;
}

.page-frame-body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}

.page-frame-footer {
  background-color: $kale-green;
  padding: 16px;
}

@media (max-width: 500px) {

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .home-page {
    height: 200vh;
  }
}
