// Specific CSS for your home-page
.landing-page-container {
  background: $green-edges;
}

.container-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 500px) {

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}
