<h1>This is my shopping cart</h1>
<%= render "cart_member/cart_member" %>
<%# if current_user.cart_members.shopping_carts.ids.includes?(@shopping_cart.id) %>
  <%# @shopping_cart.user.each do |u| %>
    <%#= u.username %>
  <%# end %>
<%# end %>
