<h1>This is my shopping cart</h1>
<div class="container">
  <h3><%= @shopping_cart.name %></h3>
  <ul>
    <% @shopping_cart.cart_members.each do |member| %>
      <% user = member.user_id %>
      <li>
        <%= @users.find(user).username %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Back to shopping carts", shopping_carts_path, class: "btn btn-primary" %>
</div>
