<footer class="page-frame-footer d-flex justify-content-around align-items-center py-2 px-1 footer-color">
  <p class="col-md-4 mb-0 px-1 text-footer-color text-center">© 2023 Copyright: GrocerEase</p>
</footer>
