<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% unless current_user.nil? %>
  <% if current_user.shopping_carts.nil? %>
    <%= link_to "Create your shopping cart now", new_shopping_cart_path, class: "btn btn-primary" %>
    <%= link_to "Join a shopping cart now", shopping_carts_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <% if current_user.shopping_carts %>
    <%= link_to "Go to my shopping carts", shopping_carts_path(filter: current_user.id), class: "btn btn-primart" %>
  <% end %>
<% end %>
