<div class="card m-4">
  <% item.photos.each do |photo| %>
    <%= cl_image_tag(photo.key, height: 400, width: 300, crop: :fit, class: "img-fluid") %>
  <% end %>
  <p class="mb-0 text-truncate"><%= item.name %></p>
  <p class="mb-0"><%= link_to "See more", item_path(item), class: "btn btn-food" %></p>
</div>
