.btn-food {
  background: $healthy-gradient;
  box-shadow: 5px 5px 10px rgb(159, 159, 159);
  border: none;
  color: white;
  text-shadow: 1px 1px 3px grey;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 150px;
}

.btn-nav {
  background: $healthy-gradient;
  box-shadow: 5px 5px 10px rgb(159, 159, 159);
  border: none;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px grey;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 16px;
  width: 240px;
}

.btn-login {
  border-color: lightgray;
  border: 2px;
  box-shadow: 5px 5px 10px rgb(159, 159, 159);
  height: 100px;
  width: 200px;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
  display: flex;
  border-radius: 15px;
  background: lightgrey;
}

.btn-large {
  width: 150px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.gradient-line {
  border-bottom-style: inset;
  border-bottom: 2px;
  border-color: $ease-gradient;
}

.btn-circle {
  margin-top: 50px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: $healthy-gradient;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  line-height: 4 !important;
  box-shadow: 1px 1px 10px lightgrey;
}

.btn-circle:hover {
  background-color: rgb(90, 136, 235);
  color: white;
  font-weight: bold;
}

.btn-dashed {
  margin-top: 50px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(156, 156, 235);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  line-height: 4 !important;
  box-shadow: 1px 1px 10px lightgrey;
}

.btn-dashed:hover {
  display: none;
}

.buy-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-links {
  justify-content: flex-start;
}

@media (max-width: 500px) {
  .btn-nav {
    justify-content: center;
  }
  .nav-links {
    justify-content: center;
  }

}
