.btn-login {
  background-image: linear-gradient(to right, $sign-in-gradient);
  box-shadow: 10px 5px 20px lightgrey;
  border: none;
  color: white;
}

.btn-sign-up {
  border-color: lightgray;
  border: 2px;
  box-shadow: 5px 2px 10px lightgray;
}

.btn-wide {
  width: 150px;
  border-radius: 4px;
  font-size: 1rem;
}
