.card-solid {
  border: solid 2px darkgrey;
  border-radius: 30px;
}

.card-dashed {
  border: dashed 2px darkgrey;
  border-radius: 30px;
}

.card-round {
  border: solid 4px darkgrey !important;
  border-radius: 30px !important;
}

.card-round-dashed {
  border: dashed 4px rgb(225, 225, 225) !important;
  border-radius: 30px !important;
}

// .card-title {
//   font-weight: bold;
//   font-size: 1.5rem;
// }

// .card-body {
//   font-weight: bolder;
//   font-size: 1rem;
// }

.cart-item-card {
  padding: 6px;

  .card {
    border: 1px solid lightgrey;
    height: 40vh;
    width: 30vh;
    margin: 0 1vw 24px 1vw;
  }
}

.item-card {
  margin: 24px;
  height: 350px;
  width: 260px;
}

.bought {
  max-height: 150px;
  max-width: 380px;

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-body {
    padding: 4px;
  }
}

.cart-index-div {
  justify-content: space-between;
}

@media (max-width: 500px) {

  .card-round {
    margin: 40px auto;
  }

  .card-round-dashed {
    margin: 40px auto;
  }

  .item-index {
    justify-content: center;
  }

  .item-card {
    padding: 0;
    margin: 24px 0;
    width: 400px;
    height: 350px;
  }

  .bought {
    max-height: 150px;
    width: 90vw;

    .card-title {
      font-size: 1rem;
      font-weight: lighter;
    }
    .card-text {
      font-size: 0.9rem;
    }
  }

  .cart-index-div {
    justify-content: center;
  }
}
