.kale-color-fill {
  background-color: $kale-green;
  border-radius: 50%;
  padding: 16px;
}

.lime-color-fill {
  background-color: $lime-green;
  border-radius: 50%;
  padding: 16px;
}

.parmesan-color-fill {
  background-color: $parmesan-yellow;
  border-radius: 50%;
  padding: 16px;
}

.honey-color-fill {
  background-color: $honey-orange;
  border-radius: 50%;
  padding: 16px;
}

.almond-color-fill {
  background-color: $almond-beige;
  border-radius: 50%;
  padding: 16px;
}

.kale-text {
  color: $kale-green;
  text-align: center;
  font-weight: bold;
}

.lime-text {
  color: $lime-green;
  text-align: center;
  font-weight: bold;
}

.parmesan-text {
  color: $parmesan-yellow;
  text-align: center;
  font-weight: bold;
}

.honey-text {
  color: $honey-orange;
  text-align: center;
  font-weight: bold;
}

.almond-text {
  color: $almond-beige;
  text-align: center;
  font-weight: bold;
}

.fa-solid {
  color: white;
}

.category-link {
  text-decoration: none;
}
