.kale-color-fill {
  background-color: $kale-green;
  padding: 16px;
}

.lime-color-fill {
  background-color: $lime-green;
  padding: 16px;
}

.parmesan-color-fill {
  background-color: $parmesan-yellow;
  padding: 16px;
}

.honey-color-fill {
  background-color: $honey-orange;
  padding: 16px;
}

.almond-color-fill {
  background-color: $almond-beige;
  padding: 16px;
}

.kale-text {
  color: black;
  // color: $kale-green;
  text-align: center;
  font-weight: bold;
}

.lime-text {
  color: black;
  // color: $lime-green;
  text-align: center;
  font-weight: bold;
}

.parmesan-text {
  color: black;
  // color: $parmesan-yellow;
  text-align: center;
  font-weight: bold;
}

.honey-text {
  color: black;
  // color: $honey-orange;
  text-align: center;
  font-weight: bold;
}

.almond-text {
  color: black;
  // color: $almond-beige;
  text-align: center;
  font-weight: bold;
}

.fa-solid {
  color: white;
}

.category-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-link {
  text-decoration: none;
  width: 45vw;
  border-radius: 16px;

}

.category-link-other {
  text-decoration: none;
  width: 90vw;
  border-radius: 16px;
}
